[user]
	name = Anton Demkin
	; email = antondemkin@yandex.ru
	email = demkin.anton@rwb.ru
[alias]
    ch = checkout
    st = status
    graph = log --graph --date-order --pretty=format:\"%h %ad %Cgreen%d%Creset %s [%an]\" --date=short --all
    retag = tag -f
    br = "!git branch --show-current 2>/dev/null"
    fa = "!git add $(git ls-files --modified --deleted --other --exclude-standard --deduplicate | fzf --multi --reverse --no-sort --height=40 --border --border-label=' git add ' --info-command='echo C-j/k to move, C-a to select, C-f to select all' --border-label-pos=4 --highlight-line --bind=ctrl-a:toggle,ctrl-f:toggle-all --preview='git diff --color=always {+} | delta --hunk-header-style=omit') 2>/dev/null"
    brcl = "!git branch --merged | grep -Ev '(^\\*|^\\+|master|main|dev|stage|staging)' | xargs -n 1 git branch -d"
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
	autoSetupRemote = true
;
; delta config
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    syntax-theme = gruvbox-dark
    minus-style = syntax "#330011"
    plus-style = syntax "#0c2705"

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
